DATABASE_URL=postgresql://postgres:postgres@es-postgres:5432/postgres
RABBITMQ_URL=amqp://eventsnap:eventsnap%40123@es-rabbitmq:5672
REDIS_URL=redis://EventSnap:EventSnap%4052912@es-redis:6379/0
INFERENCE_API_URL=http://es-inference_api:5000

PYTHONPATH=/app

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio@123

MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio@123
MINIO_BUCKET_NAME=eventsnap
MINIO_ENDPOINT=http://es-minio:9000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

REDIS_PORT=6379

RABBITMQ_DEFAULT_USER=eventsnap
RABBITMQ_DEFAULT_PASS=eventsnap@123