# Git
.git
.gitignore

# Virtual environments & Secrets
.venv
venv
env
.env
*.env

# Cache and compiled files
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage

# Build and distribution
build/
dist/
*.egg-info/
*.egg

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Docker
docker-compose*.yml
Dockerfile*
.dockerignore

# Project specific
data/
